@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
html, body {
   overflow-x: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 50px;
.main-heading {
    font-size: 85px;
    font-weight: bolder;
    color: #01a485;
    text-align: center;
    letter-spacing: -6px;
}
.heading-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.h-i-head {
    font-size: 45px;
    font-weight: 800;
    line-height: 35px;
}
.h-i-desc {
    font-size: 20px;
    color: gray;
}
.h-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px
}
.first {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sur {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input {
    padding: 10px;
}
label {
    font-weight: 600;
}
.post-and-count {
    display: flex;
    align-items: center;
    gap: 2px;
}
.city-state {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.post-code {
    width: 50%;
}
.country {
    width: 50%;
}
.phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.email {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.work-history {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.employer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.location {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.type {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.start-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.end-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.education-input {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skills {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reference {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.r-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profession-input {
    display: flex;
    flex-direction: column;
}
button {
    padding: 10px 60px;
    cursor: pointer;
    background-color: #01a485;
    color: white;
    border: none;
}
}
.work-des {
    width: 100%;
}
textarea {
    width: 200%;
    height: 100px;
    padding: 10px;
}